# Ignore invisible files/folders except .gitignore
.*
!.gitignore

# Ignore data files
Data/

# Ignore derived data except the Documentation
DerivedData/
#!DerivedData/Documentation/

# Ignore user preferences
userPreferences.*
Preferences/
!4DPop AppMaker.xml
Settings/
!buildApp.4DSettings

# Ignore Trash
Project/Trash/
Resources/php.ini
Components
Build/Components/.DS_Store
Build/.DS_Store
