name: Build

on:
  push:
    paths:
      - '**.4dm'
  pull_request:
    paths:
      - '**.4dm'
  workflow_dispatch:

env:
  DEPENDENCIES_BRANCH: master  # repo branch to be retrieved

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      # 1️⃣ Checkout of the current repository
      - name: Checkout current repository
        uses: actions/checkout@v4

      # 2️⃣ Recovery of dependencies
      - name: Fetch SVG with Classes
        uses: ./.github/actions/fetch-4d-component
        with:
          source-repo: vdelachaux/SVG-with-Classes
          source-ref: ${{ env.DEPENDENCIES_BRANCH }}
          destination: Components

      # 3️⃣ Component build
      - name: Build
        uses: 4d/build4d-action@main
        with:
          product-line: vcs
          version: vcs
          build: official
          token: ${{ secrets.DLTK }}