name: Build
on:
  push:
    paths:
      - '**.4dm'
  pull_request:
    paths:
      - '**.4dm'
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Check out 4D-SVG
      uses: actions/checkout@v3
      with:
        repository: 4d/4D-SVG
        path: Components/4D-SVG.4dbase        
    - name: Build
      uses: 4d/build4d-action@main
